.preferred-ingredients-section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #F5F5F5;
}

.preferred-ingredients-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.preferred-ingredients-section p {
    font-size: 16px;
    margin-bottom: 20px;
}

@keyframes slideInFromTop {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideOutToTop {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.ingredients-list {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    background-color: #F5F5F5;
    border-radius: 20px;
    padding: 1rem;
    animation-fill-mode: forwards;
    max-height: 300px; /* Setează înălțimea maximă pentru lista de ingrediente */
    overflow-y: auto; /* Permite scroll vertical */
    box-sizing: border-box; /* Asigură că padding-ul este inclus în dimensiunea totală */
}

/* Stil pentru scrollbar */
.ingredients-list::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; /* Fundalul track-ului scrollbar-ului */
}

.ingredients-list::-webkit-scrollbar-thumb {
  background-color: #606062; /* Culoarea thumb-ului scrollbar-ului */
  border-radius: 10px;
}

.ingredients-list::-webkit-scrollbar-track {
  background-color: #F5F5F5; /* Fundalul track-ului scrollbar-ului */
}


.ingredients-list.hidden {
    animation: slideOutToTop 0.5s ease-out;
}

.ingredients-list.visible {
    animation: slideInFromTop 0.5s ease-out;
}

.hidden-container {
    display: none;
}

.ingredient {
    display: inline-block;
    padding: 10px;
    width: 10em;
    margin: 1em 0.33em;
    border: 0.5em solid #dadada;
    border-radius: 6em; /* Schimbăm border-radius la 10px pentru un aspect dreptunghiular cu colțuri rotunjite */
    position: relative;
    font-size: 0.9375rem;
    cursor: pointer;
    transition: all 600ms ease, opacity 1ms;
    transition-delay: 0s;
    background: #fff;
    color: #4a4a4a;
    text-align: center;
    line-height: normal; /* Eliminăm înălțimea fixă pentru a se ajusta în funcție de conținut */
}



.ingredient:not(.selected):hover {
    border: 0.5em solid #3a9691;
}

.ingredient.selected {
    background-color: #3a9691;
}

.ingredient.selected::after {
    content: none;
}

.ingredient:not(.selected):hover::after {
    /* Eliminăm complet stilurile pentru pseudo-elementul ::after */
    content: none;
}


.add-all-ingredients-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.ingredient-image {
    width: 45px;
    height: 45px;
    display: block;
    margin-top: 1.5rem;
}

.ingredient-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingredient span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Asigură centrarea pe verticală */
    font-size: 16px;
}

.selected-ingredient {
    display: inline-block;
    padding: 10px;
    width: 10em;
    margin: 1em 0.33em;
    border: 0.5em solid #F5F5F5; /* Modifică culoarea pentru ingredientele selectate */
    border-radius: 6em;
    position: relative;
    font-size: 0.9375rem;
    background: #3a9691; /* Modifică culoarea de fundal pentru ingredientele selectate */
    color: white;
    text-align: center;
    line-height: normal;
    cursor: pointer;
}

.selected-ingredient .ingredient-image {
    width: 45px;
    height: 45px;
    display: block;
    margin-top: 1.5rem;
}

.selected-ingredient span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Asigură centrarea pe verticală */
    font-size: 16px;
}

.selected-ingredient:hover .delete-icon {
    display: block;
}

.delete-icon {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    background-color: red;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    color: white;
}

.delete-icon:hover {
    background-color: darkred;
}
